{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["cover 99.5%"],
        },
      }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
      ]
}